:root {
	--bg-header: #FFFFFF;
	--bg-main: #F0F0F0;	
	--bg-buttons: #1C69D4;
	--bg-disabled: #e1e3ec;
	--bg-popup-overlay: rgba(0, 0, 0, 0.5);
	--text: #222222;
	--text-titles: #222222;
	--text-banners: #FFFFFF;
	--text-buttons1: #1C69D4;
	--text-buttons2: #FFFFFF;
	--font: "Montserrat", "Helvetica", sans-serif;
	--animation: 0.155s ease-in-out;
}
